<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>questions</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <link rel="stylesheet"
          href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap-table-editable.js"></script>
    <script type="text/javascript" src="../../static/js/util.js"></script>
    <script type="text/javascript" src="../../static/js/ques.js"></script>
    <style>
        button {
            margin: 1%;
        }
    </style>
</head>
<body>
<div style="display: flex; width: 100%;">
    <button class="btn btn-success" id="add_que" style="margin-left: 70%;">Add(新增)</button>
    <button class="btn btn-success" id="del_que">del(删除)</button>
    <button class="btn btn-success" id="edit_que">编辑</button>
</div>
<div id="ques_table_dom" style="margin: 1%;">

</div>

<!-- 新增题目模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="add_que_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Question Lib</h4>
            </div>
            <div class="modal-body">
                <div style="margin: 1%;">
                    <p>please input the question:</p><input type="text" id="add_text"/>
                </div>
                <div id="add_que_table">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add_step">add step</button>
                <button type="button" class="btn btn-primary" id="save_ques">
                    Save
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div style="display: none;">
    <table id="modal_table"></table>
    <input id="modal_input" type="text"/>
    <input type="checkbox" id="modal_check"/>
    <select id="modal_select">
        <option value="A" selected>A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
    </select>
</div>
</body>
</html>