<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../../static/js/util.js"></script>
    <script type="text/javascript" src="../../static/js/libs.js"></script>
    <style>
        #add_lib, #del_lib,#edit_group {
            margin: 1%;
        }
    </style>
</head>
<body>
<div style="display: flex; width: 100%;">
    <button class="btn btn-success" id="add_lib" style="margin-left: 70%;">Add(新增)</button>
    <!--<button class="btn btn-success" id="edit_lib">编辑</button>-->
    <button class="btn btn-success" id="del_lib">del(删除)</button>
    <div class="btn-group" id="edit_group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="edit_lib">
            edit(编辑) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" id="add_qu">Add question</a></li>
            <li><a href="#" id="remove_qu">Remove question</a></li>
        </ul>
    </div>
</div>
<div id="libs_table_dom">

</div>

<!-- 添加题库模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="addlib_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Question Lib</h4>
            </div>
            <div class="modal-body">
                <h2>Library name can not be repeated!!(请注意:题库名不可重复!)</h2>
                <div>
                    <div id="choose_dom">
                        name:<input id="libname"/>
                        <p style="display:none;color:red" id="err_mes">name can't be null</p>
                    </div>
                </div>

                <div id="add_ques" style="margin:1%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveLib">Save
                    changes
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 添加题目模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="add_que_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Question for Lib</h4>
            </div>
            <div class="modal-body">
                <div id="add_que_dom"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save_que_add">Save
                    changes
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- 移除题目模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="del_que_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Question for Lib</h4>
            </div>
            <div class="modal-body">
                <div id="del_que_dom"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save_que_del">Save
                    changes
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div style="display: none;">
    <table id="modal_table"></table>
</div>
</body>
</html>