<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details(详情查看)</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../../static/js/util.js"></script>
</head>
<body style="text-align: center;overflow: auto; ">
<h3>score(得分):{{ record.score }}</h3>
<h3>lib name(题库):{{ record.lib_name }}</h3>
<h3>exam date(考试时间):{{ record.exam_date|date:"Y-m-d" }}</h3>
<h3>exam count(考试次数):{{ record.exam_count }}</h3>
{% for answer in record.answer_as_list %}
    <h4>{{ forloop.counter }}.question:{{ answer.question }}</h4><br />
    <h4>answer:{{ answer.answer }}</h4><br />
    <h4>result:{{ answer.right }}</h4><br />
{% endfor %}
</body>
</html>