<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../../static/js/util.js"></script>
    <script type="text/javascript" src="../../static/js/user.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>user</title>
    <style>
        button {
            margin: 1%;
        }
    </style>
</head>
<body>
<div style="width: 100%;height: 100%;text-align: center;">
    <h1 style="width: 100%;">New Staff Confirmation Assessment新员工转正考核</h1><br />
    <div class="container-fluid" style="margin: 1%;">
        <div class="row" style="text-align: center;">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h4>Name of Staff(姓名):</h4>
                <input type="text" id="name"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h4>Assessor(s)(考核官):</h4>
                <input type="text" id="assessor"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h4>Date Joined(入职时间):</h4>
                <input type="date" id="join_date"/>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h4>Assessment Date/Time考核日期/时间:</h4>
                <input type="date" id="exam_date"/>
            </div>
        </div>
    </div>

    <div>
        <p>Objective</p>
        <p>Ensure new staff are effectively trained to be able to work
            independently on the following areas:</p>
        <p>1. 1st morning opening shift</p>
        <p>2. Preparation of tea, toppings/drinks</p>
        <p>3. Customer service/order taking</p>
        <p>4. Replacement of necessities such as sealer roll, receipt and
            order sticker</p>
        <p>5. Closing of outlet</p>
    </div>
    <button class="btn btn-primary" id="begin_exam">begin exam</button>
</div>
</body>
</html>